@model  IEnumerable<HouseManagement.Models.House>

@{
    ViewBag.Title = "Assign House";
}

<h2>Assign House</h2>


@using (Html.BeginForm("AssignHouse", "Person", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>House</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstOrDefault().HouseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("nameOfHouse")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Assign" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <h3> List of houses: </h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => item.HouseName)
            </li>
        }
    </ul>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
